//Order
$main-color:#2C5A71;
$body-color:#567B8D;
$font-color:#193341;
$interactive-color:#00D2D2;
$interactive-color-hover:#00bfbf;
$almost-white:#FFFAFA;
$font-family: 'Montserrat',
sans-serif;

.ba-title {
    font-size: 18px;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 20px;
    letter-spacing: 0.05em;

    @media (min-width: 1024px) {
        font-size: 32px;
        margin-top: 37px;
        margin-bottom: 100px;
    }

}

.hide-mobile {
    @media(max-width: 1024px) {
        display: none;
    }
}


.flex-container--center {

    @media(min-width: 1024px) {
        display: flex;
        align-items: center;
    }
}


.ba-subtitle {

    text-align: center;
    font-size: 14px;
    padding-bottom: 25px;

    @media (min-width: 1024px) {
        text-align: left;
        font-size: 18px;
    }

}

.ba-date,
.ba-route {
    display: none;

    @media(min-width: 1024px) {
        display: inline;
        margin-right: 25px;
        font-size: 16px;
        font-weight: 500;

    }
}

.section-underline {
    padding-bottom: 15px;
    border-bottom: 1px solid $font-color;
    margin-bottom: 15px;
}



.ba-order-details__info {
    @media(min-width: 1024px) {
        .svg-line {
            margin-right: 10px;
            margin-left: 10px;
        }

        div+div {
            margin-top: 25px;
        }
    }
}



.ba-order-details__date {
    display: none;

    @media (min-width: 1024px) {
        display: block;
    }
}

.svg-line {
    display: none;

    @media (min-width: 1024px) {
        display: inline;
    }
}

.ba-order-details_city-from {
    &:after {
        content: attr(data-departure);
        position: absolute;
        display: inline-block;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        font-weight: 300;


        @media(min-width: 1024px) {
            display: none;

        }
    }

    @media (min-width:1024px) {
        font-size: 16px;
        font-weight: normal;
    }


}

.ba-order-details_city-to {
    &:after {
        content: attr(data-arrival);
        display: inline-block;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10px;
        font-weight: 300;

        @media(min-width: 1024px) {
            display: none;

        }
    }

    @media (min-width:1024px) {
        font-size: 16px;
        font-weight: normal;

    }
}

.ba-notification {
    color: $interactive-color;
    font-weight: 300;
    letter-spacing: 0.05em;
    font-size: 12px;
    display: none;

    @media (min-width: 1024px) {

        font-size: 16px;
    }
}

.clarification {
    color: $interactive-color;
    font-weight: 300;
    letter-spacing: 0.05em;
}

.ba-tickets {
    display: flex;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: normal;
    flex-wrap: wrap;

    @media(min-width: 1024px) {
        font-size: 18px;
        justify-content: flex-end;


    }


    .clarification {
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        font-weight: 300;

        @media (min-width: 1024px) {
            position: relative;
            display: block;
            width: 100%;
            left: 0;
            transform: translateX(0%);
            font-size: 16px;
            margin-bottom: 10px;
        }

    }
}

.ba-tickets-value {
    position: relative;

    @media(min-width: 1024px) {
        margin-right: 14%;
        margin-bottom: 10px;
    }

    &:after {
        content: attr(data-tickets-currency);
        display: inline-block;
        position: absolute;
        left: 100%;
        transform: translateX(+122%);

        @media(min-width: 1024px) {}
    }

    &:before {
        content: attr(data-tickets-value);
        display: inline-block;
        position: absolute;
        left: 100%;
        transform: translateX(+30%);

        @media(min-width: 1024px) {}

    }
}




.ba-order-details_city-from,
.ba-order-details_city-to,
.ba-qty-row {
    display: flex;
    position: relative;
    padding-right: 25px;
    font-size: 12px;
    letter-spacing: 0.05em;
    font-weight: normal;
    align-items: center;


    @media (min-width: 1024px) {
        font-size: 16px;
        display: inline;
        padding-right: 0px;

    }
}

.ba-qty-row {
    @media (min-width: 1024px) {
        margin-bottom: 10px;
        display: flex;
        padding-right: 0px;
        justify-content: flex-end;
    }

    .passenger-qty-label {
        @media (min-width: 1024px) {
            font-size: 16px;
            margin-right: 10px;
        }
    }

    .ba-input-qty {
        .ticket-qty {
            font-size: 14px;

            @media (min-width: 1024px) {
                font-size: 18px;
                margin-right: 10px;
                max-width: 30px;
            }
        }
    }
}





.ba-order-details__price {
    display: flex;
    flex-direction: column;

    div:first-child {
        order: 2;
    }

    .ba-link-back {
        order: 3;
    }

    @media (min-width: 1024px) {
        text-align: right;

        div:last-child {
            order: 2;
        }
    }
}

.ticket-operation {
    background: none;
    border: none;
}

.ticket-qty {
    appearance: none;
    border: none;
    background: none;
    max-width: 26px;

    text-align: center;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.ba-button-cancel {
    background: transparent;
    border: 0;
    color: $interactive-color !important;
    text-decoration: underline;
    width: 140px !important;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
}

.ba-payment-method-variants {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25px;

    .payment-option {
        display: flex;
        flex-direction: column;

        .payment-method-name {
            font-size: 6px;

            @media(min-width: 1024px) {
                font-size: 14px;
            }
        }
    }
}

.ba-submit-agreement {
    display: flex;
    align-items: center;
}



.ba-passenger-info {
    margin-bottom: 26px;

    input+input {
        margin-top: 22px;
    }
}

.ba-form-agreement {
    font-size: 9px;
    color: $main-color;

    @media(min-width: 1024px) {
        font-size: 14px;
    }
}

.ba-button {
    &.ba-button-summary-submit {
        height: 60px;
        font-size: 14px;
        color: $main-color;
        border: none;
        background: rgba(196, 196, 196, 0.2);

        @media(min-width: 1024px) {
            height: 165px;
            font-size: 25px;
            width: 100%;
        }

    }

}

.summary-text {
    padding-top: 5px;
    display: block;
    font-weight: 500;
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: #00D2D2;

    @media(min-width: 1024px) {
        font-weight: 500;
        line-height: normal;
        font-size: 50px;
    }
}

.submit-form-input {

    background: rgba(196, 196, 196, .2);
    border: none;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: $main-color;
    outline: none;

    @media (min-width: 1024px) {
        font-size: 18px;
    }
}

.ba-payment-method {
    margin-top: 20px;
    background: rgba(196, 196, 196, 0.2);
    padding: 18px 20px 35px 20px;

    input[type="text"] {
        &.submit-form-input {
            &::placeholder {
                padding-left: 5%;
            }
        }

        background: rgba(196, 196, 196, .2);
        border: none;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        font-size: 12px;
        letter-spacing: 0.05em;
        color: $main-color;
    }

    @media(min-width:1024px) {
        margin-top: 0;
        padding: 50px 108px 0px 130px;

    }

    svg {
        @media(min-width: 1024px) {
            width: 72px;
            height: 47px;
        }

    }

}

.card-number-row,
.card-validity,
.cvv-info {
    margin-bottom: 25px;

    input {
        border: none;
        background: transparent;
        border-bottom: 1px solid $main-color;
        line-height: normal;
        font-size: 10px;
        letter-spacing: 0.05em;
        color: rgba(44, 90, 113, 0.8);
        height: 40px !important;

        @media(min-width: 1024px) {
            width: 100%;
            font-size: 20px;
        }
    }

    p {
        font-weight: 300;
        line-height: normal;
        font-size: 10px;
        letter-spacing: 0.05em;
        color: $main-color;

        @media(min-width: 1024px) {
            font-size: 16px;
        }
    }
}

.ba-submit-form {
    margin-bottom: 32px;
}

.ba-link-back {
    text-decoration: underline;
    font-weight: 300;
    line-height: normal;
    font-size: 12px;
    text-align: center;
}

.ba-qr-code {
    position: relative;

    &:before {
        content: 'Оплата в один клік';
        font-size: 16px;
        display: inline-block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        top: -10%;
        min-width: 200px;
    }

    &:after {
        content: 'Використайте додаток';
        display: inline-block;
        font-size: 16px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -10%;
        min-width: 200px;
    }
}

.ba-qr-code-container {
    display: none;

    @media(min-width: 1024px) {
        display: flex;
        align-items: center;
        padding: 64px 77px 78px 102px;
        margin-top: 30px;
        width: 100%;
        background: rgba(196, 196, 196, .2);
    }
}

#card-number {
    font-size: 20px;
    background: transparent;
    border-bottom: 1px solid $main-color;
}

.ba-button-bottom-payment {
    width: 261px;
    height: 48px;
    background: $interactive-color;
    text-align: center;
    line-height: 48px;
}